StealthHeist/UIElementsSchema/Unity.AI.ModelSelector.Components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.AI.ModelSelector.Components" elementFormDefault="qualified" targetNamespace="Unity.AI.ModelSelector.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="SearchBarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchBar" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:SearchBarType" />
  <xs:complexType name="DetailsModelTitleCardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DetailsModelTitleCard" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:DetailsModelTitleCardType" />
  <xs:complexType name="ModelTitleCardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelTitleCard" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:ModelTitleCardType" />
  <xs:complexType name="ModelTileCarouselType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModelTileCarousel" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:ModelTileCarouselType" />
</xs:schema>