StealthHeist/UIElementsSchema/Unity.AI.Toolkit.Accounts.Components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.AI.Toolkit.Accounts.Components" elementFormDefault="qualified" targetNamespace="Unity.AI.Toolkit.Accounts.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="SessionStatusBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionStatusBanner" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:SessionStatusBannerType" />
  <xs:complexType name="AIDropdownType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIDropdown" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:AIDropdownType" />
  <xs:complexType name="SpinnerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Spinner" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:SpinnerType" />
  <xs:complexType name="RichLabelType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:LabelType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RichLabel" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:Label" type="tns:RichLabelType" />
  <xs:complexType name="PointLoadFailedMessageType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointLoadFailedMessage" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:VisualElement" type="tns:PointLoadFailedMessageType" />
  <xs:complexType name="DebuggerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Debugger" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:DebuggerType" />
  <xs:complexType name="AssistantInsufficientPointsBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssistantInsufficientPointsBanner" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:VisualElement" type="tns:AssistantInsufficientPointsBannerType" />
  <xs:complexType name="SignInDelayedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="UnityEngine.UIElements" base="q15:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignInDelayedBanner" xmlns:q16="UnityEngine.UIElements" substitutionGroup="q16:VisualElement" type="tns:SignInDelayedBannerType" />
  <xs:complexType name="AIDisabledLegalBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="UnityEngine.UIElements" base="q17:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIDisabledLegalBanner" xmlns:q18="UnityEngine.UIElements" substitutionGroup="q18:VisualElement" type="tns:AIDisabledLegalBannerType" />
  <xs:complexType name="PointsBetaType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="UnityEngine.UIElements" base="q19:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointsBeta" xmlns:q20="UnityEngine.UIElements" substitutionGroup="q20:VisualElement" type="tns:PointsBetaType" />
  <xs:complexType name="SignInBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="UnityEngine.UIElements" base="q21:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignInBanner" xmlns:q22="UnityEngine.UIElements" substitutionGroup="q22:VisualElement" type="tns:SignInBannerType" />
  <xs:complexType name="AIDropdownRootType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="UnityEngine.UIElements" base="q23:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIDropdownRoot" xmlns:q24="UnityEngine.UIElements" substitutionGroup="q24:VisualElement" type="tns:AIDropdownRootType" />
  <xs:complexType name="GeneratorsSessionStatusBannerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionStatusBannerType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneratorsSessionStatusBanner" substitutionGroup="tns:SessionStatusBanner" type="tns:GeneratorsSessionStatusBannerType" />
  <xs:complexType name="SettingsFailedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="UnityEngine.UIElements" base="q25:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SettingsFailedBanner" xmlns:q26="UnityEngine.UIElements" substitutionGroup="q26:VisualElement" type="tns:SettingsFailedBannerType" />
  <xs:complexType name="RegionBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="UnityEngine.UIElements" base="q27:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegionBanner" xmlns:q28="UnityEngine.UIElements" substitutionGroup="q28:VisualElement" type="tns:RegionBannerType" />
  <xs:complexType name="AIDisabledBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="UnityEngine.UIElements" base="q29:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIDisabledBanner" xmlns:q30="UnityEngine.UIElements" substitutionGroup="q30:VisualElement" type="tns:AIDisabledBannerType" />
  <xs:complexType name="AssistantSessionStatusBannerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionStatusBannerType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssistantSessionStatusBanner" substitutionGroup="tns:SessionStatusBanner" type="tns:AssistantSessionStatusBannerType" />
  <xs:complexType name="AIToolkitDisabledBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="UnityEngine.UIElements" base="q31:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIToolkitDisabledBanner" xmlns:q32="UnityEngine.UIElements" substitutionGroup="q32:VisualElement" type="tns:AIToolkitDisabledBannerType" />
  <xs:complexType name="GeneratorsUnsupportedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PackagesUnsupportedBannerType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PackagesUnsupportedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="UnityEngine.UIElements" base="q33:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackagesUnsupportedBanner" xmlns:q34="UnityEngine.UIElements" substitutionGroup="q34:VisualElement" type="tns:PackagesUnsupportedBannerType" />
  <xs:element name="GeneratorsUnsupportedBanner" substitutionGroup="tns:PackagesUnsupportedBanner" type="tns:GeneratorsUnsupportedBannerType" />
  <xs:complexType name="AccountLoadDelayedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="UnityEngine.UIElements" base="q35:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountLoadDelayedBanner" xmlns:q36="UnityEngine.UIElements" substitutionGroup="q36:VisualElement" type="tns:AccountLoadDelayedBannerType" />
  <xs:complexType name="LegalAgreementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="UnityEngine.UIElements" base="q37:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LegalAgreement" xmlns:q38="UnityEngine.UIElements" substitutionGroup="q38:VisualElement" type="tns:LegalAgreementType" />
  <xs:complexType name="NoNetworkBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="UnityEngine.UIElements" base="q39:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoNetworkBanner" xmlns:q40="UnityEngine.UIElements" substitutionGroup="q40:VisualElement" type="tns:NoNetworkBannerType" />
  <xs:complexType name="InsufficientPointsBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="UnityEngine.UIElements" base="q41:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsufficientPointsBanner" xmlns:q42="UnityEngine.UIElements" substitutionGroup="q42:VisualElement" type="tns:InsufficientPointsBannerType" />
  <xs:complexType name="AIDisabledPackageBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="UnityEngine.UIElements" base="q43:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AIDisabledPackageBanner" xmlns:q44="UnityEngine.UIElements" substitutionGroup="q44:VisualElement" type="tns:AIDisabledPackageBannerType" />
  <xs:complexType name="PointsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="UnityEngine.UIElements" base="q45:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Points" xmlns:q46="UnityEngine.UIElements" substitutionGroup="q46:VisualElement" type="tns:PointsType" />
  <xs:complexType name="AssistantUnsupportedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PackagesUnsupportedBannerType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssistantUnsupportedBanner" substitutionGroup="tns:PackagesUnsupportedBanner" type="tns:AssistantUnsupportedBannerType" />
  <xs:complexType name="LowPointsBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="UnityEngine.UIElements" base="q47:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LowPointsBanner" xmlns:q48="UnityEngine.UIElements" substitutionGroup="q48:VisualElement" type="tns:LowPointsBannerType" />
  <xs:complexType name="ConnectToCloudDelayedBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="UnityEngine.UIElements" base="q49:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConnectToCloudDelayedBanner" xmlns:q50="UnityEngine.UIElements" substitutionGroup="q50:VisualElement" type="tns:ConnectToCloudDelayedBannerType" />
  <xs:complexType name="ConnectToCloudBannerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q51="UnityEngine.UIElements" base="q51:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConnectToCloudBanner" xmlns:q52="UnityEngine.UIElements" substitutionGroup="q52:VisualElement" type="tns:ConnectToCloudBannerType" />
</xs:schema>